  PermitRootLogin no
  PasswordAuthentication no
  UsePAM no
  
  AllowGroups ssh
  
  Protocol 2
  MaxAuthTries 4

  RSAAuthentication yes
  PubkeyAuthetication yes
  AuthorizedKeysFile .ssh/authorized_keys
  ChallengeResponseAuthentication yes
