  Protocol 2
  PermitRootLogin no
  AllowGroups ssh
  MaxAuthTries 4
  PasswordAuthentication no
  RSAAuthentication yes
  PubkeyAuthetication yes
  AuthorizedKeysFile .ssh/authorized_keys
  ChallengeResponseAuthentication yes
  UsePAM no
